In [3]:
# Load the Pandas libraries with alias 'pd' 
import pandas as pd 


data = pd.read_csv("villes_france.csv" , header = None ) 
# Preview the first 5 lines of the loaded data 

data.sort_values(data.columns[15]).head()

,0,1,2,3,4,5,6,7,8,9,...,17,18,19,20,21,22,23,24,25,26
21038,21039,55,fleury-devant-douaumont,FLEURY-DEVANT-DOUAUMONT,fleury devant douaumont,Fleury-devant-Douaumont,F46315353,FLRTFNTTMNT,55100,189,...,0,10.27,5.434450,49.1950,3442.0,54661.0,52604.0,491142.0,227.0,390.0
24700,24701,62,verquigneul,VERQUIGNEUL,verquigneul,Verquigneul,V6254,FRKKNL,62113,847,...,572,3.54,2.666670,50.5000,362.0,56116.0,23944.0,503015.0,19.0,37.0
19534,19535,51,cuisles,CUISLES,cuisles,Cuisles,C420,KSLS,51700,201,...,50,2.77,3.766670,49.1333,1596.0,54590.0,34623.0,490750.0,98.0,232.0
7856,7857,22,plevenon,PLEVENON,plevenon,Plévenon,P415,PLFNN,22240,201,...,53,13.73,-2.333330,48.6667,-5186.0,54060.0,-21953.0,483915.0,0.0,81.0
26059,26060,64,ousse,OUSSE,ousse,Ousse,O200,OS,64320,439,...,340,4.46,-0.266667,43.2833,-2893.0,48092.0,-1601.0,431658.0,223.0,334.0

In [ ]:
import matplotlib.pyplot as plt
import csv

x = []
y = []

with open('villes_france.csv','r') as csvfile:
    plots = csv.reader(csvfile, delimiter=',')
    for row in plots:
        x.append(int(row[0]))
        y.append(int(row[1]))

plt.plot(x,y, label='Loaded from file!')
plt.xlabel('x')
plt.ylabel('y')
plt.title('Interesting Graph\nCheck it out')
plt.legend()
plt.show()